@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @layer base {
  h2.headings {
   @apply my-5 font-semibold text-3xl sm:text-4xl;
 }
} */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  word-wrap: break-word;
  margin: 15px 0px;
  font-size: 1.2rem;
}

h2.headings {
  margin-top: 4.25rem;
  margin-bottom: 2.25rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.25rem;
  border-bottom: solid 1px;
  border-bottom-style: dotted;
}

h3.headings {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.toc {
  margin-left: 12px;
}

.toc a {
  opacity: 0.6;
  font-size: 1.1rem;
}

.toc-list-item {
  padding: 2px 0px;
}

.toc a.is-active-link {
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 1;
}

.mantine-qqmv3w img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.anchor {
  color: #0D83FD;
  text-decoration: underline;
}

.anchor:hover {
  color: #3ea8ff;
}
